<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>281030472778-440n11rlclc70e5j9d8rrm2su4fdlg08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281030472778-440n11rlclc70e5j9d8rrm2su4fdlg08</string>
	<key>API_KEY</key>
	<string>AIzaSyCMq7Vw8YKMIzzdViEuGjvwAqZ_MpDPWi0</string>
	<key>GCM_SENDER_ID</key>
	<string>281030472778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drm.grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-c5a2e</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-c5a2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:281030472778:ios:b838b1e6e8d8045c</string>
	<key>DATABASE_URL</key>
	<string>https://grocery-c5a2e.firebaseio.com</string>
</dict>
</plist>